.card-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;

  @include media-breakpoint-down(lg) {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    position: static;
    border-radius: 0;
    font-size: $font-size-base;

    .card-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin: 0;
      height: 2.4rem;

      & .card-icon {
        background-color: $primary;
        display: inline-flex;
        justify-content: center;
        padding: 0 0.8rem;
        align-items: center;
        height: 100%;

        & > i {
          font-size: 1rem !important;
        }

        & svg {
          display: block;
        }

        &.red {
          background-color: $red;
        }

        &.orange {
          background-color: $orange;
        }

        &.yellow {
          background-color: $yellow;
        }
      }

      & .card-title {
        flex-grow: 2;
        margin: 0;
        padding: 0 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & .card-button {
        background-color: transparent;
        @extend .card-icon;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .card-body {
      flex: 0 1 120px;
    }

    .card-progress {
      margin: 0;
      padding: 0;

      & > * {
        border-radius: 0;
      }
    }

    .card-footer {
      border-radius: 0;

      &:empty {
        flex: 0 1 41px;
      }
    }

    &.card {
      @extend .bg-transparent;

      & .card-header {
        @extend .text-white, .rounded-0, .border-bottom;
      }

      & .card-body {
        @extend .bg-light;
      }

      & .card-footer {
        @extend .bg-light;
      }

      &-info {
        & .card-header {
          @extend .bg-info;
        }
      }

      &-danger {
        & .card-header {
          @extend .bg-danger;
        }
      }

      &-light {
        & .card-header {
          background-color: $gray-600;

          & .card-button {
            border-left: 1px solid $gray-500;
          }
        }
      }
    }
  }

  &.horizontal {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;

    & .card {
      justify-content: space-between;
      display: flex;
      flex-direction: row;

      & .card-header {
        width: 25%;
        height: 100%;
        border: 0 !important;
      }

      & .card-body {
        flex-grow: 1;
        padding: 0;
        min-height: 4rem;
        padding-left: 0.5rem;
        width: 100%;
      }

      & .card-progress {
        display: none;
      }

      & .card-footer {
        width: 15%;
        border-left: 1px solid #a6a6a6;
      }
    }
  }
}
