.title {
  background: #637d82;
  color: #fff;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
}

.navbar {
  border-bottom: $gray-300 1px solid;
  position: sticky;
  top: 0;
  z-index: 500;
}
