%card-icon {
  background-color: $primary;
  display: inline-flex;
  justify-content: center;
  padding: 0 0.8rem;
  align-items: center;
  height: 100%;

  & > i {
    font-size: 1rem !important;
  }

  & svg {
    display: block;
  }

  &.red {
    background-color: $red;
  }

  &.orange {
    background-color: $orange;
  }

  &.yellow {
    background-color: $yellow;
  }
}

.card {
  position: static;
  border-radius: 0;
  font-size: $font-size-base;

  & > .card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 2.4rem;
    cursor: default;

    & .card-icon {
      border-right: $border-width $border-style $border-color;
      @extend %card-icon;

      & > i {
        color: $white !important;
      }
    }

    & .card-title {
      display: inline-flex;
      overflow: hidden;
      align-items: center;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0 0.6rem;
      flex-grow: 2;

      & span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    & .duration {
      display: inline-flex;
      flex-flow: row wrap;
      padding: 0 0.2rem;
      margin: 0;
      text-align: center;

      & > .time {
        padding-top: 0.5rem;
        width: 100%;
        line-height: 0.6rem;
      }

      & > .time-type {
        width: 100%;
        height: 20%;
        font-size: 0.7rem;
      }
    }

    & .right-component {
      width: fit-content;
      display: inline-flex;
      justify-content: end;
      flex-grow: 1;
      flex-shrink: 0;

      & > * {
        height: fit-content;
        border: 0;
        margin: 0;
        text-overflow: ellipsis;
      }
    }

    & .card-button {
      background-color: transparent;
      border-left: $border-width $border-style $border-color;
      @extend %card-icon;

      &:hover {
        cursor: pointer;
      }
    }
  }

  & .card-footer {
    & .card-icon {
      @extend %card-icon;
      background-color: transparent !important;

      & > i {
        color: $black !important;
      }
    }
  }

  &.card {
    background-color: transparent;

    & > .card-header {
      color: $white;
      border-radius: 0;
      border-bottom: $border-width $border-style $border-color;
    }

    & > .card-body {
      background-color: $light;
    }

    & > .card-footer {
      background-color: $light;
    }

    &-lighter {
      & .card-header {
        background-color: $white;
        color: $black;

        & .card-button i {
          color: $black !important;
        }
      }
    }

    &-dark {
      & .card-header {
        background-color: $gray-700;
      }
    }

    &-light {
      & > .card-header {
        background-color: $gray-600;
      }

      & > .card-button {
        border-left: 1px solid $gray-500;
      }
    }
  }

  & > .card-progress {
    margin: 0;
    padding: 0;

    & > * {
      border-radius: 0;
    }
  }
}
